<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576335616404-5pfc7eg6b2tsjoso9l9ar7uq989lbt2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576335616404-5pfc7eg6b2tsjoso9l9ar7uq989lbt2h</string>
	<key>API_KEY</key>
	<string>AIzaSyDku3af0K22uH--ksbkIcwCNgzsCzmKas8</string>
	<key>GCM_SENDER_ID</key>
	<string>576335616404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.work.tabata</string>
	<key>PROJECT_ID</key>
	<string>tabata-do-it-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tabata-do-it-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576335616404:ios:afde826389eab006901781</string>
</dict>
</plist>